<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Builds</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Compiler</th>
        <th>Source Code</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${allBuilds}">
        <td th:text="${project.projectId}"></td>
        <td th:text="${project.language}"></td>
        <td th:text="${project.sourceCodeFile}"></td>
        <td th:text="${project.buildConfiguration}"></td>
        <td>
            <a th:href="@{'/builds/' + ${project.projectId} + '/results'}">
                <button>Build</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>